$colors: (
  primary: #006400,
  secondary: #217a25,
  light: #fff,
  dark: #222,
  error: #ff2818,
);

$breakpoints: (
  small: 767px,
  medium: 992px,
  large: 1200px,
);

@font-face {
    font-family: "Montserrat-Regular";
    src: url("~@/assets/fonts/Montserrat-Medium.ttf");
}