$colors: (
  primary: #353535,
  secondary: #3C6E71,
  complementary: #284B63,
  light: whitesmoke,
  dark: #D9D9D9,
  error: #ff2818,
);

$breakpoints: (
  small: 767px,
  medium: 992px,
  large: 1200px,
);

@font-face {
    font-family: "Montserrat-Regular";
    src: url("~@/assets/fonts/Montserrat-Medium.ttf");
}